.cookbookNameHeader {
    background-color: #f59898;
    padding: 4px 12px;
    border-radius: 8px;
  }

.card {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fdf6e3;
  }

