.cookbookNameHeader {
    background-color: #f59898;
    padding: 4px 12px;
    border-radius: 8px;
  }

.recipeCard {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fdf6e3;
  }

.ingredientCard {
    border-radius: 8px;
    background-color: #fdf6e3;
}
.cardText {
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    display: -webkit-box;
}

.cardTitle {
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
}

.deleteIcon {
  cursor: pointer;
  color: gray;
  font-size: 1.2rem;
}
.editIcon {
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 8px;
  color: #999;
}

.editableInput {
  border: none;
  background-color: transparent;
  color: inherit;
  width: 100%;
  margin-bottom: 8px;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  padding: 0;
}

.ingredientName {
  font-weight: bold;
  margin-right: 8px;
}
